<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">

        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p>毕业设计 &nbsp; | &nbsp;电脑配件销售系统 &nbsp; | &nbsp;
                    TYUT软件学院16级
                </p>
                <p>
                    hardware-mall&nbsp; | &nbsp; ICP备xxxxxxxxxxx号
                </p>
            </div>
        </div>

    </div>
</div>
</html>